body {
  background: repeating-linear-gradient(
    45deg,
    #90caf9,
    #90caf9 10px,
    #b3e5fc 10px,
    #b3e5fc 20px
  );
}

html {
  min-height: 100%
}

main {
  padding-top: 3vh;
  min-height: 100%;
}

img {
  height: 150px;
  width: 150px;
}

.brand-logo {
  margin-left: 2vw;
}

.postContainer {
  margin-bottom: 0px;
  min-height: 100%;
  height: 100%;
}
