<div class="light-blue lighten-5">
  <div class="row">
    <div class="input-field col s2 offset-s1">
      <input ng-model="topicFilter" type="text" placeholder="Filter Posts by Topic">
    </div>
    <div class="input-field col s2 offset-s6">
      <select ng-model="posts.sortBy">
        <option value="-rating" selected>Rating</option>
        <option value="topicId">Topic</option>
        <option value="-createdAt">Date</option>
      </select>
      <label>Sort By</label>
    </div>
  </div>
  <div class="row" nh-posts ng-repeat="postInDirective in posts.data | orderBy : posts.sortBy | filter : { topicId : topicFilter }" post-attribute="postInDirective">
  </div>
</div>

<div ng-controller="AuthCtrl as authCtrl">
  <div ng-show="authCtrl.isLoggedIn()" class="fixed-action-btn" style="top: 9vh; right: 9vw;">
    <a class="btn-floating btn-large orange" ng-href="#/posts">
      <i class="large material-icons">mode_edit</i>
    </a>
  </div>
</div>
