<form ng-submit="users.registerUser(); userForm.$setPristine();" name="userForm" novalidate>
  <div>
    <div class="input-field">
      <input type="text" name="username" ng-class="{'valid': userForm.username.$valid, 'invalid': userForm.username.$invalid && userForm.username.$dirty}"  ng-model="users.userForm.username" ng-minlength=3 ng-maxlength=20 required>

      <label for="username" ng-class="{'green-text text-lighten-2': userForm.username.$valid, 'red-text text-lighten-2': userForm.username.$invalid && userForm.username.$dirty}">Username</label>

      <span ng-show="(userForm.username.$error.minlength || userForm.username.$error.maxlength) && userForm.title.$dirty">Username must be between 3-20 characters</span>

      <!-- <span ng-show="user.usernameExists">Username already exists</span> -->
    </div>
    <div class="input-field">
      <input type="password" name="password" ng-class="{'valid':  userForm.password.$valid, 'invalid': userForm.password.$invalid && userForm.password.$dirty}"  ng-model="users.userForm.password" required>

      <label for="password" ng-class="{'green-text text-lighten-2': userForm.password.$valid, 'red-text text-lighten-2': userForm.password.$invalid &&  userForm.password.$dirty}">Password</label>

      <span ng-show="userForm.password.$invalid &&  userForm.password.$dirty">Please provide a valid password</span>
    </div>
    <div class="input-field">
      <input type="text" name="firstName" ng-class="{'valid':  userForm.firstName.$valid, 'invalid': userForm.firstName.$invalid && userForm.firstName.$dirty}" ng-model="users.userForm.firstName" required>

      <label for="firstName" ng-class="{'green-text text-lighten-2': userForm.firstName.$valid, 'red-text text-lighten-2': userForm.firstName.$invalid &&  userForm.firstName.$dirty}">First Name</label>

      <span ng-show="userForm.firstName.$invalid &&  userForm.firstName.$dirty">Please provide a valid first name</span>
    </div>
    <div class="input-field">
      <input type="text" name="lastName" ng-class="{'valid':  userForm.lastName.$valid, 'invalid': userForm.lastName.$invalid && userForm.lastName.$dirty}" ng-model="users.userForm.lastName" required>

      <label for="lastName" ng-class="{'green-text text-lighten-2': userForm.lastName.$valid, 'red-text text-lighten-2': userForm.lastName.$invalid &&  userForm.lastName.$dirty}">Last Name</label>

      <span ng-show="userForm.lastName.$invalid &&  userForm.lastName.$dirty">Please provide a valid last name</span>
    </div>
  </div>
  <div>
    <input type="submit" class="btn orange darken-1 right" ng-class="{'disabled': userForm.$invalid, 'waves-effect waves-light': userForm.$valid}" value="Register" ng-disabled="userForm.$invalid">
  </div>
</form>
